*.log
__pycache__/
.venv/
venv/
.env
data/*.json
!data/example.json
.DS_Store
.vscode/
.idea/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Abaikan semua data Delta Lake, tapi pertahankan struktur foldernya
lakehouse/lakehouse_data/*
!lakehouse/lakehouse_data/.gitkeep